@font-face {
  font-family: "roboto";
  src: url("~assets/fonts/robotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  src: url("~assets/fonts/robotoBold.ttf") format("truetype");
  font-weight: bold;
}
